<launch>

  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="lego_loam_bor" exec="lego_loam" output="screen" respawn="false">
    <param from="$(find-pkg-share lego_loam_bor)/config/loam_c16_config.yaml" />
  </node>

  <node pkg="rviz2" exec="rviz2" output="screen" respawn="false" args="-d $(find-pkg-share lego_loam_bor)/rviz/lego_loam.rviz">
  </node>

  <!--- TF -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 map    camera_init" />
  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        camera base_link" />
  
</launch>
